{% extends "guest/base.html" %}
{% load static %}
{% block title %} Rooms {% endblock %}
{% block page_content %}

<section class="venue" id="venue">
    <div class="title">
        <br><br><br><br><br>
        <h1 class="heading">Our <span>Rooms</span></h1>
        <br>
    </div>

    <div class="venue-list">
        {% for room_type in room_types %}
        <div class="venue-box">
            <img src="{{ room_type.image.url }}" alt="img">
            <div class="venue-info" style="font-weight: bold;">
                <h2>{{ room_type.name }}</h2>
            
                <p>{{ room_type.price }} DH per night</p>
                <p> {{ room_type.description }}</p>

                {% if user.is_authenticated %}
                <a href="{% url 'room_type_detail' room_type_id=room_type.pk %}" class="btn fixed-bottom">Book Now</a>
                {% else %}
                <a href="{% url 'login' %}" class="btn fixed-bottom">Book Now</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}