{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <style>
        .chart-container {
            height: 500px;
            font-size: large;
        }
    </style>

    <!-- CSS Bootstrap Link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>


</head>

<body>

    <header class="header">

        <a href="#" class="logo">
            <img src="{% static 'images/logo.png' %}" alt="" class="logo-img">
        </a>


        <nav class="navbar">
            <a href="{% url 'admin_dashboard' %}">Dashboard</a>
            <a href="{% url 'admin_guest' %}">Guests</a>
            <a href="{% url 'admin_rooms' %}">Rooms</a>
            <a href="{% url 'admin_reservations' %}">Reservations</a>
            <a href="{% url 'admin_services' %}">Services</a>
            <a href="{% url 'chat_list' %}">Messages</a>
            <a href="{% url 'logout' %}">Logout</a>
        </nav>

        <div id="menu-bars" class="fas fa-bars"></div>

    </header>
    <br><br><br><br><br>

    {% block page_content %}

    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>