{% extends 'administrator/base.html' %}
{% block title %} Booked Services {% endblock %}
{% block page_content %}

<h1 class="heading">Booked <span>Services</span></h1>
<div class="container col-12">
    <table class="table table-bordered text-dark writing text-center">
        <thead style="font-size: 25px;">
            <tr>
                <th>Guest</th>
                <th>Service</th>
                <th>Reservation Date</th>
                <th>Reservation Time</th>

            </tr>
        </thead>
        <tbody style="font-size: 20px;">

            {% for service in services %}
            <tr>
                <td>{{ service.guest }}</td>
                <td>{{ service.service }} </td>
                <td>{{ service.reservation_date }}</td>
                <td>{{ service.reservation_time }} </td>
                
            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}